@import '../../styles/variables.scss';

.nav{
    width:102px;
    height:100vh;
    border-radius:16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:20px 0px 10px;
    background-color: $dark-bg-two;

    li,
    div{
        display:flex;
        justify-content:center;
        align-items:center;
        list-style: none;
    }
    div{
        width:56px;
        height:56px;
        border-radius:12px;
        background-color:$opaced-pink;
    }
    li{
        // outline:2px solid red;
        width:85px;
        height:60px;
        margin:5px 0 5px 19px;
        background-color: $dar-bg-one;
        border-radius:10px;

        a{
            margin:0 10px 0 0;
            border:2px solid red;
        }
    }

    li:first-child{
        border:2px solid green;
    }
}