@import '../../../../styles/variables.scss';

.section {
    h2 {
        color: $lighter-text;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        margin: 20px 0;
    }

    div {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        gap:20px;
        width: 100%;

        aside {
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;
            gap:10px;
            color:$lighter-text;
            border:1px solid $dark-line;
            padding:6px;
            width:101px;
            height:64px;
            border-radius:8px;
            position:relative;

            .tick{
                position:absolute;
                top:3px;
                right:10px;
            }
        }

        aside:first-child{
            background: $dar-bg-one;
        }
    }

}